
body{
	background-color: #fafafa;
}
h1{
	font-size:24px;
	margin:0px;
}

p{
	font-size:14px;
}

.content{
	width:600px;
	margin:10px auto;
	border:1px solid #1d1d1d;
	padding:30px;
}

input{
	border:none;
	border-bottom:1px solid #1d1d1d;
	font-size: 1.2em;
	width:100%;
	padding:8px;
}

button{
	color:#fff;
	width:100%;
	background-color: #2096f3;
	padding:15px;
	border-radius: 5px;
	margin-top:10px;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.control{
	margin-bottom:3em;
}

label{
	display: block;
	margin-bottom:.5em;
}

.required{
	margin-left:.3em;
	color:#f33;
	background-color: #fee;
	padding:3px;
	font-size: .9em;
	font-weight: bold;
}



